.body-1{
    margin: 0%;
    padding: 0%;
    text-align: center;
}
span{
    color: red;
}
.get-in-touch hr, .skills hr{
    background-color: transparent;
    border-color: yellow;
    border-style: none;
    border-top-style: dotted;
    border-width: 10px;
    width: 60px;
    margin:0px auto 80px;
}
    /* Title */

.banner-1{
    background-color: #2C2E43;
    padding:7% 15%;
    margin: 0;
}
.logo-img{
    width:10%;
    border-radius: 100%;
    position: relative;
    right:30%;
}
.banner-1 h1{
    text-align: center;
    margin: 0 auto;
    font-family: 'Great Vibes', cursive;
    font-size: 5rem;
    color:#FFD523;
    letter-spacing: 5px;
}
.banner-1 p{
    text-align: center;
    margin: 0;
    color:#FFD523;
    text-transform: capitalize;
    font-size: 2.5rem;
    letter-spacing: 13px;
    word-spacing: 5px;
}
.mountain{
    width: 80%;
    padding-top: 80px;
}
.cloud-1{
    position: absolute;
    width: auto;
    right: 250px;
}
.cloud-2{
    position: absolute;
    left:250px;
}

/* Hello */
.hello{
    padding: 7% 15%;
    background-color: #B2B1B9;
}
.hello-txt h1{
    margin: 40px auto;
    font-family: 'Great Vibes', cursive;
    font-size: 10rem;
    color:#2C2E43;
    text-transform: capitalize;
}
.hello-txt p{
    margin-left:50px;
    color:#2C2E43;
    margin-top: 20px;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif; 
}
.hello-img{
    margin-right: 50px;
    background-size: cover;
    border-top-right-radius: 50%;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 400%;
    box-shadow: 4px 4px 20px black;
}

/* My Skills */
.skills{
    padding: 7% 15%;
    background-color: #B2B1B9;
}
.skills h1{
    text-transform: capitalize;
    font-family: 'Fredoka One', cursive;
    font-size: 50px;
    font-weight: lighter;
    color:#2C2E43;
    margin-bottom: 30px;
}
.skills-1 img{
    width: 15rem;
    float: left;
    margin-top: 20px;
    margin-right: 20px;
    border: 5px solid black;
    border-radius: 100%;
}
.skills-1 h3{
    text-transform: capitalize;
    font-family: 'Fredoka One', cursive;
    font-weight: lighter;
    font-size: 2rem;
    color: #2C2E43;
    text-decoration: underline #FFD523;
    text-align: left;
    padding-top: 10px;
    margin-top: 5%;
}
.skills-1 p{
    text-transform: capitalize;
    font-size: 1.5rem;
    text-align: left;
    line-height: 25px;
}
.skills-2{
    padding-top: 50px;
}
.skills-2 img{
    width: 15rem;
    float: right;
    margin-left: 20px;
}
.skills-2 h3{
    text-transform: capitalize;
    font-family: 'Fredoka One', cursive;
    font-weight: lighter;
    font-size: 2rem;
    color: #2C2E43;
    text-decoration: underline #FFD523;
    text-align: right;
    padding-top: 10px;
    margin-top: 5%;
}
.skills-2 p{
    text-transform: capitalize;
    font-size: 1.5rem;
    text-align: right;
    line-height: 25px;
}

/* Contact */
.get-in-touch{
    background-color: #B2B1B9;
    padding: 7% 15%;
}
.get-in-touch h2{
    color:#2C2E43;
    text-transform: capitalize;
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-decoration:5px underline #FFD523;
}
.get-in-touch p{
    margin:40px auto 0;
    width: 40%;
    line-height: 30px;
    font-size: 1.5rem;
}
.contact-btn{
    margin-top: 40px;
    width: 40%;
}

/* Footer */
.footer-info{
    background-color:#595260;
    padding: 7% 15%;
}
.social-icon{
    padding:0 5px 20px 5px;
    color: #fff;
}
.social-icon:hover{
    color: rgb(87, 200, 245);
}
.footer-info p{
    color:whitesmoke;
    text-transform: capitalize;
}

/* Media */
@media(max-width:933px){
    .logo-img{
        position: static;
        width: 20%;
        margin-bottom: 50px;
    }
    .mountain{
        width: 100%;
    }
    .cloud-1{
        width: 0;
    }
    .cloud-2{
        width: 20%;
    }
    .hello-txt p{
        font-size: 2rem;
    }
    .hello-img{
        margin: 20px 0% 0;
    }
    .skills-1 img, .skills-2 img{
        float:none;
        margin: 0;
    }   
    .skills-1 h3, .skills-1 p, .skills-2 h3, .skills-2 p{
        text-align: center;
        margin-top: 50px;
    }
    .get-in-touch p{
        width: 100%;
    }
    .contact-btn{
        width: 100%;
    }
    .social-icon{
        width: 4rem;
    }
    .footer-info p{
        font-size: 1.2rem;
    }
}